APP_DEBUG_OUTPUT=False
DISCORD_READ_CHANNEL_ID=
DISCORD_WRITE_CHANNEL_ID=
DISCORD_BOT_TOKEN=
OLLAMA_MAX_CTX=16384
OLLAMA_RESERVED_OUTPUT=1024
OLLAMA_MODEL_NAME=qwen3:4b
MAX_THREADS=4
THREAD_TIMEOUT=30