APP_NAME="OllamaHugginBridge"
APP_VERSION="0.0.1"
APP_CACHE_DIR="cache"
APP_DEBUG_OUTPUT=True
DISCORD_READ_CHANNEL_ID=
DISCORD_WRITE_CHANNEL_ID=
DISCORD_BOT_TOKEN=
OLLAMA_MAX_CTX=16384
OLLAMA_RESERVED_OUTPUT=1024
